.nav-link {
    font-size: 15px;
}
a.navbar-brand img {
    width: 200px;
}
.jumbotron {
    background-image: url(https://i.imgur.com/xPAS82H.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 50px;
}
img {
    width: 100%;
}